@model List<ProcCore.Business.DB0.m_News>
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script src="~/Content/js/collapse.js"></script>
}

<h2>最新消息 <small>News</small></h2>

<dl class="text-list collapse">

    @foreach (var i in Model)
    {
        <dt><span>@i.news_date.ToString("yyyy/MM/dd")</span>@i.news_title</dt>
            <dd>
                @Html.Raw(i.news_content)
            </dd>
    }
</dl>
