
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>聯絡我們 <small>Contact Us</small></h2>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.753558618177!2d121.2390993150045!3d24.940463984016358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682267a2fb65b1%3A0x1f4beee819a593e3!2zMzIw5qGD5ZyS5biC5Lit5aOi5Y2A6b6N6IiI6LevNDAx5be3MjbomZ8!5e0!3m2!1szh-TW!2stw!4v1451271090308" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<dl class="contacts">
    <dt>統城科技股份有限公司</dt>
    <dt>聯絡電話</dt>
    <dd>03-4369557</dd>
    <dt>傳真號碼</dt>
    <dd>03-4364677</dd>
    <dt>連絡地址</dt>
    <dd><a href="https://goo.gl/maps/9mrqTnLFbU82" target="new">桃園市中壢區龍興路401巷26號</a></dd>
    <dt>E-mail</dt>
    <dd><a href="mailto:smithtech.a8@gmail.com">smith.a8@msa.hinet.net</a></dd>
</dl>