@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$img-path2:         '../images/index';

$content-spacing:   0;
$font-size-h3:      52px;

$footer-transY:     380px;

$btn-color:         #028BA4;
$btn-hover-color:   #fff;
$btn-bg-color:      #fff;
$btn-bg-hover:      #028BA4;
$btn-font-size:     13px;
$btn-padding:       12px 20px;


// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/extend";
@import "base/classes";

@import "layout/layout";

@import "module/btn";
@import "module/modal";


// main
// ----------------------------------------------------------------------
#wrapper {
    padding-bottom: 0;
}

footer {
    background: rgba(232,235,237,.8);
}

#banner {
    background: url(#{$img-path2}/bg.png) center 0 no-repeat;
    padding-top: 17px;
}
#banner, .swiper-slide {
    position: relative;
    height: 500px;

    @include mq($max:tablet) { height: auto; }
}

.swiper-wrapper {
    @extend %list-unstyled;
    margin-bottom: 0;
}
.swiper-slide {
    background: url(#{$img-path2}/banner1_bg.png) center no-repeat;
    padding-top: 55px;
    padding-bottom: 30px;

    header, img {
        display: inline-block;
        vertical-align: top;
    }
    header {
        @include text-pic('#{$img-path2}/banner1_title.png',530px,237px);
        margin-right: 10px;
    }
    img { margin-top: 30px; }
    ol {
        margin-left: -590px;

        @include mq($max:tablet) {
            margin-left: auto;
            margin-top: 20px;
        }
    }
    li {
        background-attachment: fixed;
        background: url(#{$img-path2}/banner1_icon.gif) 0 0 no-repeat;
        width: 80px;
        padding-top: 80px;

        color: #4C4C4C;
        font-size: em(14px);
        text-align: center;

        @for $i from 2 through 6 {
            &:nth-child(#{$i}) {
                background-position: (86px - (86px * $i)) 0;
            }
        }
    }
}

.about {
    background: #407E8F url(#{$img-path2}/infoBg.jpg) center 0 no-repeat fixed;
    padding: 40px 0;
    position: relative;

    p, h3, nav a {
        color: #fff;
        text-align: left;
    }
    h3 {
        margin-top: 0;
        margin-bottom: $gutter;
    }
    p {
        line-height: 2.2;
        margin-bottom: 20px;
    }
    nav a {
        display: block;
        margin-bottom: $gutter;
    }
    .btn {
        margin-top: 20px;
        float: right;
    }
}

.col-8 .btn { margin-top: 52px; }

#map-canvas {
    width: 100%;
    height: 380px;
}