@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$img-path2:         '../images/index';
$img-banner:        '../images/index/banner';

$header-height:     156px;
$content-spacing:   0;
$font-size-h3:      52px;

$footer-transY:     380px;

$btn-color:         #028BA4;
$btn-hover-color:   #fff;
$btn-bg-color:      #fff;
$btn-bg-hover:      #028BA4;
$btn-font-size:     13px;
$btn-padding:       12px 20px;


// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/form";
@import "base/extend";
@import "base/classes";

@import "layout/layout";

@import "module/btn";
@import "module/modal";


// layout
// ----------------------------------------------------------------------
#wrapper { padding-bottom: 0; }

footer { background: rgba(232,235,237,.8); }


// == banner
#banner {
    background: url(#{$img-path2}/bg.png) center 0 no-repeat;
    padding-top: 17px;

    @include mq-max(tablet) { background-size: cover 100%; }
}
#banner, .swiper-slide {
    height: 520px;

    @include mq(phone,tablet) { height: 620px; }
}

.swiper-wrapper {
    @extend %list-unstyled;
    margin-bottom: 0;
}
.swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 30px;

    @include mq-max(tablet) {
        padding-bottom: 130px;
        background-size: auto cover;
    }
}
.title, .pic {
    max-width: 100%;

    @include mq(break(tablet, +1)) {
        display: inline-block;
        vertical-align: top;
    }
}
.title {
    position: relative;
    z-index: 20;

    @include mq(break(tablet, +1)) {
        margin-right: 10px;
    }
}
.pic {
    @include mq(break(tablet, +1)) {
        margin-top: 30px;
    }
}
// for title,pic
.desktop-hide {
    @include mq(break(tablet,+1)) {
        display: none;
    }
}
.mobile-hide {
    @include mq-max(tablet) {
        display: none;
    }
}
.spec {
    @include absolute(left 0 bottom 30px);

    @include mq-max(tablet) {
        margin-top: 20px;
        right: 0;
        bottom: 15px;
    }
    @include mq(break(tablet,+1), wide) {
        left: 1%;
    }
    @include mq(break(wide,+1)) {
        left: 50%;
        margin-left: -590px;
    }

    li {
        text-align: center;
        min-width: 90px;
        padding-top: 80px;

        // background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: 11px 0;
        color: #4C4C4C;
        font-size: em(14px);

        @for $i from 2 through 6 {
            &:nth-child(#{$i}) {
                background-position: (95px - (86px * $i)) 0;
            }
        }
        @include mq-max(break(tablet, -1)) {
            background-size: auto 72px;
            padding-top: 74px;
            margin-bottom: 10px;
        }
    }
}
.i1, .i2 {
    @include mq(break(tablet, +1), 1300px) {
        .title { float: left; }
    }
    .pic {
        @include mq-max(1300px) {
            position: absolute;
        }
        @include mq-max(tablet) {
            right: 0;
            left: 0;
            bottom: 115px;
            // top: auto;
            margin: auto;
        }
        @include mq-max(585px) {
            bottom: 215px;
        }
        @include mq(break(tablet, +1), 1300px) {
            right: 1%;
            top: 30px;
        }
    }
}
.i1 {
    background-image: url(#{$img-banner}1_bg.png);
    padding-top: 10px;

    @include mq(break(tablet,+1)) {
        .title {
            margin-top: 35px;
        }
        .pic {
            margin-top: 60px;
        }
    }
    .pic {
        @include mq-max(phone) { height: 138px; }
    }
    li {
        background-image: url(#{$img-banner}1_icon.png);

        @include mq-max(break(tablet,-1)) {
            background-image: url(#{$img-banner}1_icon2.png);
        }
    }
}
.i2 {
    background-image: url(#{$img-banner}2_bg.jpg);

    .pic {
        @include mq-max(phone) { height: 100px; }
    }
    li {
        background-image: url(#{$img-banner}2_icon.png);

        @include mq-max(break(tablet,-1)) {
            background-image: url(#{$img-banner}2_icon2.png);
        }
    }
}
.i3 {
    background-image: url(#{$img-banner}3_bg.gif);
    padding-top: 10px;

    @include mq-max(tablet) { background-position: center bottom; }

    .title {
        @include mq(break(tablet, +1), desktop) {
            float: left;
        }
        @include mq(break(tablet, +1)) {
            margin-top: 85px;
            margin-right: 20px;
        }
    }
    .pic {
        @include mq-max(desktop) {
            position: absolute;
            right: 0;
        }
        @include mq-max(tablet) {
            top: 100px;
            left: 0;
            margin: auto;
        }
        @include mq-max(phone) {
            height: 240px;
            bottom: 200px;
        }
    }
    li {
        background-image: url(#{$img-banner}3_icon.png);

        @include mq-max(break(tablet,-1)) {
            background-image: url(#{$img-banner}3_icon2.png);
        }
    }
}
.i4 {
    background: url(#{$img-banner}4_bg.gif) center 0/cover no-repeat;

    .title {
        @include mq-max(tablet) {
            max-width: 85%;
        }
        @include mq(break(tablet, +1)) {
            margin-top: 50px;
        }
        @include mq(break(tablet, +1), break(desktop, -1)) {
            float: left;
        }
    }
    .pic {
        @include mq-max(break(desktop, -1)) {
            @include absolute(top 20px right 10px);
        }
        @include mq-max(tablet) {
            top: 28%;
            right: 0;
            left: 0;
            margin: auto;
        }
        @include mq-max(phone) {
            max-height: 240px;
        }
        @include mq(desktop) {
            margin-left: 30px;
        }
    }
    .spec {
        @include mq(break(wide,+1)) {
            margin-left: -476px;
            bottom: 70px;
        }
    }
    li {
        background-image: url(#{$img-banner}4_icon.png);

        @include mq-max(break(tablet,-1)) {
            background-image: url(#{$img-banner}4_icon2.png);
        }
    }
}
.i5 {
    background-position: center bottom;
    background-image: url(#{$img-banner}5_bg.gif);

    @include mq-max(tablet) { padding-top: 15px; }

    .title {
        @include mq-max(break(desktop, -1)) {
            max-width: 90%;
            margin-top: 20px;
        }
        @include mq(desktop) {
            margin-top: 42px;
        }
    }
    .pic {
        margin-top: 10px;

        @include mq-max(tablet) {
            max-height: 252px;
        }
        @include mq(break(tablet, +1), break(desktop, -1)) {
            @include absolute(right 10px top 20px);
        }
    }
    // p {
    //     @include text-pic('index/banner5_icon.gif',467px,177px,$position: center bottom);
    //     @include absolute(left 50% bottom 40px);
    //     margin-left: -480px;

    //     @include mq-max(tablet) {
    //         max-width: 90%;
    //         background-size: contain;
    //         margin: auto;
    //         left: 0; right: 0; bottom: 10px;
    //     }
    //     @include mq(break(tablet,+1),break(desktop,-1)) {
    //         margin-left: -450px;
    //     }
    // }
}

// == content
.about {
    background: #407E8F url(#{$img-path2}/infoBg.jpg) center 0 no-repeat fixed;
    padding: 40px 0;
    position: relative;

    p, h3, nav a {
        color: #fff;
        text-align: left;
    }
    h3 {
        margin-top: 0;
        margin-bottom: $gutter;
    }
    p {
        line-height: 2.2;
        margin-bottom: 20px;

        @include mq-max(tablet) { line-height: 1.7; }
    }
    nav a {
        display: block;
        margin-bottom: $gutter;

        &:hover, &:active {
            color: lighten($brand-secondary,40%);
        }
    }
    .btn {
        margin-top: 20px;
        float: right;

        @include mq-max(tablet) { margin-top: 0; }
    }
    .col-3 {
        min-width: 245px;
        float: right;
    }
}
.col-8 {
    .btn {
        @include mq(wide) { margin-top: 52px; }
    }
    @include mq-max(tablet) { margin-bottom: 30px; }
}

// #map-canvas {
//     width: 100%;
//     height: 380px;
// }

.map {
    height: 380px;

    iframe {
        width: 100%;
        height: 100%;
    }
}