
@{
    ViewBag.Title = "公司簡介";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>公司簡介 <small>About Us</small></h2>

<h3>成立背景</h3>
<img class="float-r" src="~/Content/images/AboutUs/pic.jpg" alt="數位電視">
<p><strong>統城科技股份有限公司</strong>創立於民國82年8月27日，適逢臺灣經濟繁榮時期。蓬勃的加工業造就統城科技的成立，初期以代工製造為主，加工產品以電源供應器(Power Supply)、電腦顯示器(CRT monitor)、彩色電視機等相關周邊產品，產品的代工為服務項目主軸。</p>
<p>至民國90年反應國內工廠外移潮，為延續工廠經營，此時決定轉型自製開發資訊類產品、電腦顯示器TFT LCD MONITOR及LCD TV，以OEM代工和<strong>Smith品牌</strong>銷售為主，並於民國91年響應政府數位電視試播政策，此時投入數位電視機上盒生產行列。</p>


<h3>專業 OEM代工</h3>
<p>本公司是通過ISO 9001國際品質標準認證的專業製造廠，長期以來一直是國內各知名品牌大廠的OEM代工廠。代工產品以DVD播放機、床頭音響、手提音響、數位電視機上盒…等影音類為主。本公司秉持嚴格品管、熱忱服務、顧客滿意等三大品質政策，提供客戶高優質商品與盡善盡美的服務，使產品品質及服務品質皆能滿足客戶需求。</p>
<p>深獲同業各界的肯定與認同，而長期經營傳統市場的<strong>"SMITH"品牌</strong>也深獲消費者的支持與愛護。相信在我們豐富經驗及專業技術的服務下，能為您提供更完善的品質以及服務。</p>


<h3>經營理念</h3>
<p><strong>統城科技</strong>響應政府政策，根留臺灣、照顧本土勞工，堅守本土企業臺灣製造。</p>
<p>多年來秉持著誠信經營、品質第一、創新研發為經營理念，堅守嚴格品管、熱誠服務、客戶滿意的品質政策，不斷的求新求變、創新思維，於2008年首創以歐盟環保節能為概念，率先推出低功耗環保節能(省電)型數位機上盒系列產品，符合環保RoHS製程，統城科技以生產健康節能、環保、優質化的家用產品為宗旨，要讓消費者居家生活使用的更安心也更健康。</p>


<h3>信賴的史密斯</h3>
<p>本公司通過ISO 9001國際品質標準認證，相關系列產品均通過經濟部標準檢驗局相關檢驗取得BSMI認證，優良的品質深受廣大消費者、愛用者的認同與肯定，目前也發展增加多項家電產品種類，如：DVD播放機、手提音響、床頭DVD音響、多媒體播放器、數位電視機上盒等。</p>
<p><strong>統城科技</strong>深深感謝同業先進及全國各大代理商和經銷商的愛護與支持，因為有您的認同與肯定，<strong>史密斯優質產品</strong>才會深受廣大消費者的愛用，我們會更加的努力精進，以更優異的品質及最熱誠的售後服務回報您的愛護與支持，絕不辜負社會大眾的期待。</p>

