
@{
    ViewBag.Title = "藍光DVD播放機";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
}

<div id="content">
    <figure>
        <img src="~/Content/images/products/pro.jpg" alt="藍光DVD播放機-BD350">
        <h3>BD-350<small>5.1聲道 3D藍光DVD播放機</small></h3>
        <figcaption>
            <a href="~/Products/Content">READ MORE</a>
        </figcaption>
    </figure>
    <figure>
        <img src="~/Content/images/products/pro2.jpg" alt="藍光DVD播放機-BD320">
        <h3>BD-320<small>5.1聲道 3D藍光DVD播放機</small></h3>
        <figcaption>
            <a href="~/Products/Content">READ MORE</a>
        </figcaption>
    </figure>
</div>