@model List<ProcCore.Business.DB0.m_Product>
@{
    ViewBag.Title = ViewBag.C_name;
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
}

@foreach (var item in Model)
{
    <figure>
        <img src="@item.imgsrc" alt=@(item.category_name+"-"+item.model_type) >
        <h3>@item.model_type<small>@item.product_name</small></h3>
        <figcaption>
            <a href="~/Products/Content?id=@item.product_id">產品資訊</a>
        </figcaption>
    </figure>
}

@* 分類列表
<figure>
    <img src="@item.imgsrc" alt=@(item.category_name+"-"+item.model_type) >
    <h3>分類名稱</h3>
    <figcaption>
        <a href="~/Products/Content?id=@item.product_id">READ MORE</a>
    </figcaption>
</figure>
 *@