
@{
    ViewBag.Title = "產品下單";
    ViewBag.BodyClass = "Products order";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
}
@* @section Scripts{
    <script src="~/Scripts/build/commincx.js"></script>
    <script src="~/Scripts/app/codrops/modalEffects.js"></script>
    <script src="~/Scripts/build/func/w-order.js"></script>
} *@
<h2>產品下單 <small>Order</small></h2>
@* <div id="page_content"></div> *@

<form class="order-list">
    <table class="full">
        <tr>
            <th>產品名稱</th>
            <th>型號</th>
            <th>訂購</th>
            <th>數量</th>
        </tr>
        <tr>
            <td rowspan="2">藍光DVD播放機</td>
            <td class="text-left">BD-320</td>
            <td>
                <input type="checkbox" name="buy" value="buy" id="b1">
                <label for="b1"></label>
            </td>
            <td>
                <input type="number" min="0">
            </td>
        </tr>
        <tr>
            <td class="text-left">BD-350</td>
            <td>
                <input type="checkbox" name="buy" value="buy" id="b2">
                <label for="b2"></label>
            </td>
            <td>
                <input type="number" min="0">
            </td>
        </tr>
    </table>

    <h4>其他</h4>
    <textarea name="" id="" cols="30" rows="5"></textarea>

    <p class="text-center">
        <button class="btn">確認訂單</button>
        <a class="btn" href="~/Products">繼續購買</a>
    </p>
</form>
