
@{
    ViewBag.Title = "產品下單";
    ViewBag.BodyClass = "Products order";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
}
@section Scripts{
    <script src="~/Scripts/build/commincx.js"></script>
    <script src="~/Scripts/app/codrops/modalEffects.js"></script>
    <script src="~/Scripts/build/func/w-order.js"></script>
}
<h2>產品下單 <small>Order</small></h2>
<div id="page_content"></div>

@*@section overlay {
    <div class="md-modal md-effect-7" id="buy">
        <form class="md-content">
            <h3>產品下單</h3>
            <table>
                <tr>
                    <th>產品名稱</th>
                    <th>數量</th>
                </tr>
                <tr>
                    <td>藍光DVD播放機【BD-320】</td>
                    <td>1</td>
                </tr>
            </table>
            <button class="btn btn-primary">下單</button>
            <button class="md-close" type="button">X</button>
        </form>
    </div>
}

<button class="btn md-trigger" data-modal="buy">sss</button>*@
