@charset "UTF-8";
// wrapper
$wrapper-bg:            #F2F2F3;
$content-spacing:       50px !default;

// header
$header-height:         172px;
$logo-img:              'logo.gif' !default;
$logo-size:             309px 72px !default;

$menu-height:           51px;
$menu-height-sm:        100%;
$menu-link:             #001B23;
$menu-link-hover:       #fff;

// footer
$footer-height:         102px !default;
$footer-height-sm:      100px;
$footer-bg:             #EDEFF1;
$footer-color:          $text-color;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

// 最大寬度限制 (非滿版才需要)
%center {
    max-width: $max-width; 
    margin: 0 auto;
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;
    
    padding-left: $gutter;
    padding-right: $gutter;
    
    @include mq(wide) { padding: 0; }
}

#wrapper {
    @extend %container;
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;
    
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
    // background: $wrapper-bg;

    @include mq($max: phone) {
        padding-bottom: $footer-height-sm + $content-spacing;
    }
}

.wrap {
    @extend %center;
    @extend %contain;
}

#header, footer, main, section {
    @extend %container;
    @extend %contain;
}


// header
// ----------------------------------------------------------------------
#header {
    @extend %center;
    height: $header-height;
    z-index: z(header);

    h1 {
        cursor: pointer; cursor: hand; // for ie
        z-index: z(logo);

        @include text-pic($logo-img, nth($logo-size,1),  nth($logo-size,2));
        @include absolute(left 0 top 55px);

        @include mq($max: mobile) {
            top: 15px; left: 10px;
            background-size: contain;
            width: 150px; height: 70px;
        }
    }
}

.top-nav {
    background: #CBCBCB;
    border-radius: 5px;
    padding: 7px $gutter;
    
    z-index: z(logo)-1;

    @include absolute(right 0 top 0);
    @include mq($max: mobile) {
    }

    a {
        display: inline-block;
        color: #fff;
        font-size: em(12px);
        border-right: 1px solid #fff;
        padding-right: 10px;
        margin-right: 10px;
        
        &:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
        &:hover, &:active {
            color: $brand-primary;
        }
    }
}

#menu {
    font-size: em(21px);
    font-weight: bold;
    @include absolute(right 0 top 80px);
    
    a {
        display: inline-block;
        padding: 12px 30px;
        color: $menu-link;
        
        &:hover, &:active {
            background: #028BA4;
            border-radius: 5px;
            color: $menu-link-hover;
        }
    }
}


// footer
// ----------------------------------------------------------------------
footer {
    background: $footer-bg;
    margin-top: -($footer-height);
    height: $footer-height;
    z-index: z(footer);

    color: $footer-color;

    @include mq($max: phone) {
        margin-top: -($footer-height-sm);
        height: $footer-height-sm;
    }
}

.copyright {
    float: left;
    font-size: em(12px);
    text-align: left;
}

.goTop {
    @include fixed(bottom cp(55px) right cp(10px));
    @include circle(100px);

    background: rgba(#fff,0.6);
    border: 2px solid $info;
    color: $info;
    font-size: em(40px);
    line-height: 1.1;
    padding-top: 37px;

    display: none;
    z-index: z(goTop);

    &::before {
        @include caret(up, 20px, 22px, $info);
        @include absolute(top 0 left 50%);
        content: '';
        margin-left: -10px;
    }
    &:hover, &:active {
        opacity: 1;
        background: #fff;
        color: darken($link-color,10%);
    }
}