@charset "UTF-8";

// wrapper
$wrapper-bg:            none !default;
$content-spacing:       50px !default;

// header
$header-height:         172px;
$logo-img:              'logo.gif' !default;
$logo-size:             309px 72px !default;

$menu-height:           51px;
$menu-height-sm:        100%;
$menu-link:             #001B23;
$menu-link-hover:       #fff;

// footer
$footer-height:         105px !default;
$footer-height-sm:      100px;
$footer-transY:         $footer-height !default;
$footer-bg:             #EDEFF1;
$footer-color:          $text-color;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

// 最大寬度限制 (非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 auto;
}

// 內容器-header、wrap、main、footer等
%contain {
    padding-left: $gutter;
    padding-right: $gutter;

    @extend %clearfix;
    @include mq(wide) { padding: 0; }
}

#wrapper {
    @extend %container;
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;

    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
    // background: $wrapper-bg;

    @include mq($max: phone) {
        padding-bottom: $footer-height-sm + $content-spacing;
    }
}

.wrap {
    @extend %center;
    @extend %contain;
}

#header, footer, main {
    @extend %container;
    @extend %contain;
}


// header
// ----------------------------------------------------------------------
#header {
    height: $header-height;
    z-index: z(header);

    margin-left: $gutter;
    margin-right: $gutter;

    @include mq(wide) { margin: 0 auto; }
    @extend %center;

    h1 {
        cursor: pointer; cursor: hand; // for ie
        z-index: z(logo);

        @include text-pic($logo-img, nth($logo-size,1),  nth($logo-size,2));
        @include absolute(left 0 top 55px);

        @include mq($max: mobile) {
            top: 15px; left: 10px;
            background-size: contain;
            width: 150px; height: 70px;
        }
    }
}

.top-nav {
    background: #CBCBCB;
    border-radius: 5px;
    padding: 7px $gutter;

    z-index: z(logo)-1;

    @include absolute(right 0 top 0);
    @include mq($max: mobile) {
    }

    a, button {
        display: inline-block;
        color: #fff;
        font-size: em(12px);
        border-right: 1px solid #fff;
        padding-right: 10px;
        margin-right: 10px;

        &:hover, &:active {
            color: $brand-primary;
        }
    }
    button {
        background: none;
        border: none;
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }
}

#menu {
    font-size: em(21px);
    font-weight: bold;

    @include absolute(right 0 top 80px);

    a {
        position: relative;
        display: inline-block;
        width: 130px;
        padding: 12px 20px;
        color: $menu-link;

        $selector: ();
        @each $item in $pages {
            $i: index($pages, $item);
            $selector: append($selector, unquote(".#{$item} &:nth-child(#{$i})"), comma);
        }

        &:hover, &:active,
        #{$selector} {
            background: #0646A3;
            border-radius: 5px;
            color: $menu-link-hover;

            &::after {
                @include arrow(bottom, 8px, 6px, #0646A3);
                @include absolute(top 100% left 50%);
                margin-left: -8px;
            }
        }
    }
}


// footer
// ----------------------------------------------------------------------
footer {
    background: $footer-bg;
    margin-top: -($footer-transY);
    padding: $gutter 0;
    min-height: $footer-height;
    z-index: z(footer);

    color: $footer-color;

    @include mq($max: phone) {
        margin-top: -($footer-height-sm);
        // height: $footer-height-sm;
    }
    li {
        text-align: left;
        margin: 5px 0;
        margin-left: 20px;

        &:nth-child(2),
        &:nth-child(3) {
            font-size: em(20px);
            float: left;
        }
        &:nth-child(3) { margin-left: 20px; }
        em {
            background: $brand-primary;
            border-radius: 3px;
            color: #fff;
            font-style: normal;
            font-size: em(14px);
            text-align: center;

            display: inline-block;
            line-height: 22px;
            width: 22px;
            margin-right: 6px;
        }
    }
}

.copyright {
    font-size: em(12px);
    text-align: left;
    margin-top: 15px;

    em {
        @include text-pic("#{$img-path}/logo_s.gif",120px,33px);
        display: inline-block;
        margin-right: 10px;
        margin-bottom: -3px;
        vertical-align: bottom;
    }
}

.goTop {
    @include fixed(bottom cp(55px) right cp(10px));
    @include circle(100px);

    background: rgba(#fff,0.6);
    border: 2px solid $info;
    color: $info;
    font-size: em(40px);
    line-height: 1.1;
    padding-top: 37px;

    display: none;
    z-index: z(goTop);

    &::before {
        @include caret(up, 20px, 22px, $info);
        @include absolute(top 0 left 50%);
        content: '';
        margin-left: -10px;
    }
    &:hover, &:active {
        opacity: 1;
        background: #fff;
        color: darken($link-color,10%);
    }
}