@{
    ViewBag.Title = "Email";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>統城科技股份有限公司-產品下單通知</title>
</head>
<body style="font: .8em/140% '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif;">
    <h1 style="font-size:1.5em;">統城科技股份有限公司-產品下單通知</h1>
    <table border="1" bordercolor="#ddd" style="border:1px solid #ccc">
        <caption style="background:#FCF8E3; color:#9C7163; font-size:1.2em; font-weight:bold; padding:5px; text-align:center;">
            以下為 會員編號:@Model.member_id,會員姓名:@Model.member_name 之下單資料
        </caption>
        <tr>
            <th style="color:#9C7163; padding:5px; border:1px solid #ccc">產品分類</th>
            <th style="color:#9C7163; padding:5px; border:1px solid #ccc">型號</th>
            <th style="color:#9C7163; padding:5px; border:1px solid #ccc">數量</th>
        </tr>
        @foreach (var i in Model.order_list)
        {
            <tr>
                <td style="width:150px; padding:5px; border:1px solid #ccc">@i.c_name</td>
                <td style="width:150px; padding:5px; border:1px solid #ccc">@i.m_type</td>
                <td style="width:150px; padding:5px; border:1px solid #ccc">@i.qty</td>
            </tr>
        }
        <tr>
            <th style="color:#9C7163; padding:5px; border:1px solid #ccc">其他</th>
            <th style="width:150px; padding:5px; border:1px solid #ccc" colspan="2">@Model.memo</th>
        </tr>
    </table>
</body>
</html>

