@charset "UTF-8";

$figure-bg:             rgba(#fff,.7) !default;
$figure-min-width:      300px !default;
$figure-max-width:      480px !default;
$figure-max-height:     360px !default;
$figure-text-align:     center !default;
$figure-margin:         .2% 0 !default;

// common
figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    margin: $figure-margin;
    min-width: $figure-min-width;
    max-width: $figure-max-width;
    max-height: $figure-max-height;
    width: cp(350px);

    // background: $figure-bg;
    text-align: $figure-text-align;
    float: left;

    img {
        position: relative;
        display: block;
        // min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
    }
    figcaption {
        text-transform: uppercase;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &::before, &::after { pointer-events: none; }

        &, > a {
            @include absolute(top 0 left 0);
            width: 100%; height: 100%;
        }
        // Anchor will cover the whole item by default
        // For some effects it will show as a button
        > a {
            z-index: 1000;
            // text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }
    }
}

// style
figure {

    h3 {
        color: $brand-primary;
        font-size: em(32px);
        font-family: $font-sp;
        margin-bottom: 5px;
    }
    p {
        color: #656565;
        font-size: em(23px);
        font-weight: bold;
        line-height: 1.2;
        @include absolute(top 46% left 0 right 0);
    }
    > a {
        color: #222;
        font-size: em(20px);
        font-weight: bold;

        @include absolute(bottom 18% left 50%);
        @include prefix(transform,translateX(-50%));
        &:hover, &:active { color: $info }
    }
    &:hover, &:active {
        a { color: $info }
    }
}
