
@{
    ViewBag.Title = "線上諮詢";
    ViewBag.BodyClass = "Service";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        $("#ServerInfo").submit(function (event) {
            event.preventDefault();
            var contact_person = $("#m_contact_person").val();
            var tel = $("#m_tel").val();
            var email = $("#m_email").val();
            var content = $("#m_content").val();
            var validate = $("#m_Service_validate").val();

            var data = {
                "contact_person": contact_person,
                "tel": tel,
                "email": email,
                "content": content,
                "validate": validate
            };

            $.ajax({
                type: "POST",
                url: gb_approot + 'Service/sendMail',
                data: data,
                dataType: 'json'
            }).done(function (data, textStatus, jqXHRdata) {
                if (!data.result) {
                    alert(data.message);
                }
                else {
                    alert('申請已送出，我們會儘快與您聯絡!');
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                showAjaxError(errorThrown);
            });
        });
    </script>
}
<h2>線上諮詢 <small>Online counseling</small></h2>

<form action="" class="mail" id="ServerInfo">
    <input type="text" id="m_contact_person" placeholder="請輸入聯絡人名稱" required>
    <input type="tel" id="m_tel" placeholder="請輸入聯絡電話" required>
    <input type="email" id="m_email" placeholder="請輸入E-mail" required>
    <textarea name="" id="m_content" cols="30" rows="10" placeholder="請輸入諮詢內容"></textarea>
    <img alt="驗證碼" id="m_Service_img" src="~/_Code/Ashx/ValidateCode.ashx?vn=ServiceCheck" />
    <input type="text" id="m_Service_validate" placeholder="請輸入驗證碼" required>

    <button class="btn">送出</button>
    @*     <p>
            <label>名稱：</label>
        </p>
        <p>
            <label>聯絡電話</label>
            <input type="text">
        </p>
        <p>
            <label>E-mail</label>
            <input type="text">
        </p>
    *@
</form>