
@{
    ViewBag.Title = "線上諮詢";
    ViewBag.BodyClass = "Service";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>線上諮詢 <small>Online counseling</small></h2>

<form action="" class="mail">
    <input type="text" placeholder="請輸入聯絡人名稱">
    <input type="text" placeholder="請輸入聯絡電話">
    <input type="text" placeholder="請輸入E-mail">
    <textarea name="" id="" cols="30" rows="10" placeholder="請輸入諮詢內容"></textarea>
    <button class="btn">送出</button>
@*     <p>
        <label>名稱：</label>
    </p>
    <p>
        <label>聯絡電話</label>
        <input type="text">
    </p>
    <p>
        <label>E-mail</label>
        <input type="text">
    </p>
 *@</form>