
@{
    ViewBag.Title = "常見問題";
    ViewBag.BodyClass = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<h2>常見問題 <small>FAQ</small></h2>

<ul class="tabs">
    <li><a href="#QA1">數位影音光碟機</a></li>
    <li><a href="#QA2">數位電視接收機</a></li>
</ul>

<section class="tabs-content">
    <dl id="QA1">
        <dt>光碟機沒有電源</dt>@* Q *@
        <dd>
            @* A：回答有圖或表格，用可上傳圖片的編輯器 *@
            1. 請將電源插頭確實插入插座<br>
            2. 請打開光碟機的電源開關(有些光碟機電源開關在後方)
        </dd>

        <dt>光碟機沒有畫面</dt>
        <dd>請將光碟機的視訊輸出孔與電視機正確連接，視訊輸出端子為黃色</dd>

        <dt>放入光碟後，光碟機沒辦法播放</dt>
        <dd>1. 光碟若嚴重受損，容易導致無法讀取<br>
            2. 請確認光碟是否為自行燒錄的資料，若資料為光碟機不支援的格式，也會導致此現象(例如：RMVB檔、MP4檔)
        </dd>

        <dt>光碟機上的按鍵沒辦法操作</dt>
        <dd>請將電源關閉或拔下電源插頭，等候5秒在開啟電源或插入電源插頭</dd>

        <dt>遙控器操作沒有反應</dt>
        <dd>1. 電池耗盡，更換遙控器電池<br>
            2. 沒有對準光碟機的遙控接收器，請將遙控器對準光碟機上的接收器(白色小R框)<br>
            3. 遙控器距離光碟機太遠，請保持在7公尺內操作(實際有效距離會因環境亮度不同而改變)
        </dd>

        <dt>播放光碟有影像但沒有聲音</dt>
        <dd>1. 請將光碟機的左右聲道孔(紅色及白色端子)與電視機正確連接<br>
            2. 請確認遙控器是否有按到"靜音"按鍵，再次按"靜音"按鍵即可取消靜音
        </dd>

        <dt>影像變成黑白畫面一直跳動</dt>
        <dd>遙控器有一按鍵"制式"，請長按"制式"按鍵3秒鐘，畫面即可恢復正常</dd>

        <dt>使用光碟機播放USB的檔案，但插入USB後光碟機沒有反應</dt>
        <dd>1. 請使用遙控器上的按鍵"DVD/USB"做切換<br>
            2. 請確認USB裝置是否與光碟機正確連接
        </dd>

        <dt>剛買光碟機，不會安裝</dt>
        <dd>請依以下順序操作<br>
            1. 將光碟機的"左右聲道"及"影像"輸出孔，按照顏色正確與電視接連接<br>
            2. 打開電視機及光碟機電源，光碟機顯示屏會亮<br>
            3. 將電視機影像切換到影像(AV)，即可看到光碟機的開機畫面<br>
            <img src="~/Content/images/FAQ/pic1.gif" alt="連結圖">
        </dd>
    </dl>

    <dl id="QA2">
        <dt>節目顯示無信號，沒辦法看</dt>
        <dd>1. 請重新搜尋，操作辦法如下<br>
            自動搜尋：遙控器上有紅色按鍵"搜尋"，請按壓"搜尋"鍵，讓數位盒自動重新搜尋
            手動搜尋(節目搜尋)：<br>
            ＊ 數位盒型號為TC-568：遙控器按選單，進入"節目搜尋"，選擇"手動搜尋節目"，在"頻道序號"使用左右按鍵調整序號改變頻率(例如：民視頻率為557.0MHz，調整到557MHz)，下方的品質及強度訊號有變化後，調整到確定位置按確認鍵，數位盒會開始搜尋節目，並自動保存節目，若訊號品質為0%，代表完全沒有訊號，這時需要調整天線位置，再次嘗試<br>
            ＊ 數位盒型號為TC-538：遙控器按選單，進入"安裝"選單，選擇"節目掃描"，在"頻率"使用左右按鍵調整頻率(例如：民視頻率為557.0MHz，調整到557MHz)，下方的信號強度和信號品質有變化後，按確認鍵，數位盒會開始搜尋節目，並自動保存節目，若信號品質為0%，代表完全沒有訊號，這時需要調整天線位置，再次嘗試<br>
            2. 檢查天線與數位盒是否正常連接天線端子需與數位盒的"訊號輸入"孔連結<br>
            3. 若以上方法都無法排除問題，請移動您的天線位置再次嘗試<br>
            <table>
                <caption>頻道對照表</caption>
                <tr>
                    <th>電 視 台</th>
                    <th>頻 道 名 稱</th>
                    <th>畫 質</th>
                    <th>頻 率(MHz)</th>
                </tr>
                <tr>
                    <td rowspan="4">中 視</td>
                    <td>中視數位台</td>
                    <td rowspan="3">標準畫質</td>
                    <td rowspan="4">533.0</td>
                </tr>
                <tr><td>中視新聞台</td></tr>
                <tr><td>中視綜藝台</td></tr>
                <tr>
                    <td>中視HD</td>
                    <td>高畫質</td>
                </tr>
                <tr>
                    <td rowspan="3">公視</td>
                    <td>公共電視</td>
                    <td rowspan="3">標準畫質</td>
                    <td rowspan="3">545.0</td>
                </tr>
                <tr><td>公視 2 台</td></tr>
                <tr><td>客家電視</td></tr>
                <tr>
                    <td rowspan="4">民視</td>
                    <td>民視綜合台</td>
                    <td rowspan="3">標準畫質</td>
                    <td rowspan="4">557.0</td>
                </tr>
                <tr><td>民視交通台</td></tr>
                <tr><td>民視新聞台</td></tr>
                <tr>
                    <td>民視四季台</td>
                    <td>高畫質</td>
                </tr>
                <tr>
                    <td>公視</td>
                    <td>公視HD</td>
                    <td>高畫質</td>
                    <td>569.0</td>
                </tr>
                <tr>
                    <td rowspan="4">台視</td>
                    <td>台灣電視台</td>
                    <td>高畫質</td>
                    <td rowspan="4">581.0</td>
                </tr>
                <tr>
                    <td>台灣新聞台</td>
                    <td rowspan="3">標準畫質</td>
                </tr>
                <tr><td>台視財經台</td></tr>
                <tr><td>台視綜合台</td></tr>
                <tr>
                    <td rowspan="4">華視</td>
                    <td>華視 CTS</td>
                    <td>高畫質</td>
                    <td rowspan="4">593.0</td>
                </tr>
                <tr>
                    <td>華視教育頻道台</td>
                    <td rowspan="3">標準畫質</td>
                </tr>
                <tr><td>華視新聞資訊台</td></tr>
                <tr><td>華視綜合娛樂台</td></tr>
            </table>
        </dd>
    </dl>
</section>