@model List<ProcCore.Business.DB0.IssueGroup>
@{
    ViewBag.Title = "常見問題";
    ViewBag.BodyClass = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<h2>常見問題 <small>FAQ</small></h2>

<ul class="tabs">
    @foreach (var i in Model)
    {
        <li><a href=@("#QA"+i.c_id)>@i.Lname</a></li>
    }
</ul>

<section class="tabs-content">
    @foreach (var item in Model)
    {
        <dl id=@("QA"+item.c_id) class="text-list">
            @foreach (var issue in item.issue)
            {
                <dt>@issue.issue_q</dt>
                <dd>@Html.Raw(issue.issue_ans)</dd>
            }
        </dl>
    }
</section>